:root {
  --bg-color: #197278;
  --text-color: #edddd4;
  --container-bg: #283d3b56;
  --container-bg-hover: #4da39c4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bg);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100%;
  transition: background-color 0.5s ease;
}

.container:hover {
  background-color: var(--container-bg-hover);
}
