body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 33, 61, 1) 93%
  );
  color: white;
  font-weight: 400;
}

.example {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}
